@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

:root {
  --colorWhite: #ffffff;
  --colorBlack: #000000;

  --colorLigh: #d9ecff;
  --colorLighSecondary: #7293bc;

  --colorBackground: #091e3560;
  --colorBackgroundSecondary: #1b3d5f;

  --colorAccent: #00a3ff;
  --colorAccentSecondary: #77cdff;

  --colorMainGradient: linear-gradient(
    180deg,
    var(--colorAccentSecondary) 0%,
    var(--colorAccent) 100%
  );

  --colorLightGradient: linear-gradient(180deg, #00a3ff 0%, #77cdff 100%);
  --colorDarkGradient: linear-gradient(180deg, #102031 0%, #173455 100%);

  --sizeRadius: 10px;
  --sizeFont: 16px;
  --sizeSmallFont: 14px;
}

input {
  font-family: "Neucha", cursive;
  border: none;
  padding: 0;
  color: var(--colorBackgroundSecondary);
  background: var(--colorWhite);
  transition: opacity 0.3s;
  font-size: var(--sizeFont);
}
input:focus {
  outline: none;
  background: var(--colorLigh);
}
.button {
  pointer-events: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  border-radius: var(--sizeRadius);
  white-space: nowrap;
  transition: background-color 0.3s;
}
.lockedButton {
  pointer-events: none;
  opacity: 0.3;
}

img {
  pointer-events: none;
  height: 100%;
  width: 100%;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: var(--colorBackgroundSecondary);
  width: auto;
  height: auto;
  font-family: "Neucha", cursive;
  font-size: var(--sizeFont);
}

.contentWrapper {
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  min-height: 300px;
}
.interfaceWrapper {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.interface {
  position: relative;
  width: 100%;
  height: 100%;
}
#gameCanvas {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: var(--colorBackgroundSecondary);
}
#gameCanvas:focus {
  outline: none;
}

.interface___mobileInput {
  pointer-events: auto;
  width: 20vw;
  height: 20vw;
  position: absolute;
  bottom: 2%;
  right: 2%;
  display: grid;
  grid-template-rows: 2fr 3fr 2fr;
  grid-template-columns: 2fr 3fr 2fr;
  background-image: url("/public/img/mobileInput.png");
  background-size: cover;
}

.interface__loginForm {
  pointer-events: auto;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26%;
  max-width: 300px;
  height: 10%;
}

.loginForm {
  padding: 5px;
  border-radius: var(--sizeRadius);
  display: grid;
  grid-template-rows: 50% 50%;
  background: var(--colorBackground);
}
.loginForm__input {
  border-radius: var(--sizeRadius);
  text-align: center;
}
.loginForm__button {
  margin-top: 5px;
  background: var(--colorAccent);
  border-radius: var(--sizeRadius);
  color: var(--colorWhite);
}
.loginForm__button:hover {
  background: var(--colorAccentSecondary);
}

.interface__menuButton {
  position: absolute;
  width: 30%;
  max-width: 320px;
  top: 2%;
  height: 4%;
  background: var(--colorLigh);
  color: var(--colorBackgroundSecondary);
  opacity: 0.3;
  border-radius: 0 var(--sizeRadius) var(--sizeRadius) 0;
}
.interface__menuButton:hover {
  opacity: 1;
}

.interface__emotions {
  display: flex;
  position: absolute;
  right: 0;
  top: 1.5%;
  height: 5%;
}

.emotions__button {
  pointer-events: auto;
  display: block;
  box-sizing: border-box;
  margin-right: var(--sizeFont);
  width: auto;
  height: 100%;
  background-color: var(--colorAccent);
  border-radius: var(--sizeRadius);
  border: 2px solid var(--colorAccent);
  transition: 0.3s;
}
.emotions__button:hover {
  border: 2px solid var(--colorAccentSecondary);
  box-shadow: inset 0px -5px 10px var(--colorAccentSecondary);
}

.emotions__button-active {
  border: 2px solid var(--colorAccentSecondary);
  background: var(--colorAccentSecondary);
}

.emotions__Pic {
  width: auto;
}

.interface__chatPannel {
  position: absolute;
  top: 8%;
  width: 30%;
  max-width: 315px;
  height: 90%;
}

.chatPannel {
  pointer-events: auto;
  background: var(--colorBackground);
  overflow: hidden;
  border-radius: 0 var(--sizeRadius) var(--sizeRadius) 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.chatPannel__form {
  flex-shrink: 0;
  width: 100%;
  height: 7%;
  display: grid;
  grid-template-columns: 75% 25%;
  background: var(--colorBackgroundSecondary);
}
.chatPannel__input {
  pointer-events: auto;
  padding: 0 5%;
  margin: 5px 0;
  width: 90%;
  border-radius: 0 var(--sizeRadius) var(--sizeRadius) 0;
}

.chatPannel__button {
  margin: 5px;
  background: var(--colorAccent);
  border-radius: var(--sizeRadius);
  color: var(--colorWhite);
}
.chatPannel__button:hover {
  background: var(--colorAccentSecondary);
}

.chatPannel__list {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  width: 90%;
  margin: 5%;
  color: var(--colorWhite);
}

.chatPannel__list p {
  align-items: flex-end;
  margin: 5px 0;
  word-wrap: break-word;
}

.interface__playersList {
  position: absolute;
  width: 17%;
  height: auto;
  max-height: 90%;
  max-width: 180px;
  top: 8%;
  right: 0;
}

.playersList {
  background: var(--colorBackground);
  border-radius: var(--sizeRadius) 0 0 var(--sizeRadius);
  overflow-y: scroll;
  pointer-events: auto;
  color: var(--colorWhite);
}

.playersList__title {
  background: var(--colorLighSecondary);
  text-align: center;
  padding: 2% 0;
}

.playersList__list {
  font-size: var(--sizeSmallFont);
  padding: 5% 10%;
}
.playersList__list p {
  margin: 1%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.interface__constructorPannel {
  pointer-events: auto;
  position: absolute;
  top: 8%;
  width: 30%;
  max-width: 315px;
  height: 82%;
}

.constructorPannel {
  display: grid;
  grid-template-rows: 7% 93%;
  border-radius: 0 var(--sizeRadius) var(--sizeRadius) 0;
  overflow: hidden;
}

.constructorPannel_tabsBlock {
  display: flex;
  flex-direction: row;
}
.tabsBlock__radio {
  display: none;
}
.tabsBlock__tabs {
  display: block;
  box-sizing: border-box;
  margin-left: 3px;
  width: calc(100% - 3px);
  height: 100%;
  background-color: var(--colorAccent);
  border-radius: var(--sizeRadius) var(--sizeRadius) 0 0;
  border: 2px solid var(--colorAccent);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}
.tabsBlock__tabs:hover {
  border: 2px solid var(--colorAccentSecondary);
  box-shadow: inset 0px -5px 10px var(--colorAccentSecondary);
}
.tabsBlock__radio:checked + .tabsBlock__tabs {
  background-color: var(--colorAccentSecondary);
  border: 2px solid var(--colorAccentSecondary);
}

.constructorPannel_contentBlock {
  background: var(--colorBackground);
  padding: 5%;
  display: grid;
  grid-template-rows: repeat(8, 11%);
  grid-row-gap: calc(12% / 7);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.constructorPannel__button {
  display: none;
}
.constructorPannel__constructorItem {
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
  background: var(--colorBackground);
  width: 100%;
  height: 100%;
  border-radius: var(--sizeRadius);
  border: 2px solid var(--colorLighSecondary);
  opacity: 0.7;
  transition: background 0.3s;
}
.constructorPannel__constructorItem:last-child {
  margin: 0;
}
.constructorPannel__constructorItem:hover {
  background: var(--colorLighSecondary);
}
.constructorPannel__button:checked + .constructorPannel__constructorItem {
  background: var(--colorLighSecondary);
  border: 2px solid var(--colorWhite);
  opacity: 1;
}
.constructorItem__Info {
  color: var(--colorWhite);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 5%;
  height: 100%;
  text-align: center;
}
.constructorItem__Pic {
  height: 100%;
  width: auto;
}
.constructorItem__Name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid var(--colorWhite);
}
.constructorItem__oneColor {
  height: 30%;
  display: grid;
  width: 100%;
}
.constructorItem__twoColors {
  width: 100%;
  height: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 1px solid var(--colorWhite);
  padding: 0;
  width: 100%;
  height: 100%;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}

::-webkit-scrollbar {
  display: none;
}

.loaderScreen {
  opacity: 1;
  transition: opacity 1s;
  background: var(--colorAccentSecondary);
  background: var(--colorLightGradient);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.loader {
  width: 10vw;
  height: 10vw;
  position: absolute;
}
.loaderRing {
  position: absolute;
  top: -30%;
  left: 50%;
  height: 80%;
  width: 80%;
  border-radius: 0 100% 0 0;
  border: 0.1vw solid var(--colorWhite);
  border-width: 0vw 0.5vw 0vw 0vw;
  box-shadow: 0.5vw 0.1vw 0.2vw -0.4vw var(--colorWhite),
    inset -0.4vw 0.1vw 0.3vw -0.4vw var(--colorWhite);
  transform-origin: 0vw 100%;
  animation: rotate 1s linear infinite;
}
.loaderLogo {
  width: 100%;
  height: 100%;
  background-image: url("/public/img/logo_white.png");
  background-size: cover;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.fadeScreen {
  pointer-events: none;
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: var(--colorBlack);
  transition: opacity 0.2s;
}
.fadeScreen-hidden {
  opacity: 0;
}

.hidden {
  display: none;
}

@media (orientation: portrait) {
  .contentWrapper {
    height: 100vw;
  }
}
@media (max-width: 1050px) {
  :root {
    --sizeFont: 14px;
    --sizeSmallFont: 12px;
    --sizeRadius: 10px;
  }
}
@media (max-width: 850px) {
  :root {
    --sizeFont: 12px;
    --sizeSmallFont: 9px;
    --sizeRadius: 7px;
  }
}
@media (max-width: 650px) {
  :root {
    --sizeFont: 9px;
    --sizeSmallFont: 6px;
    --sizeRadius: 5px;
  }
}
